[Unit]
Description=GYM-PRO gunicorn socket (facugym)

[Socket]
ListenStream=/run/gym.sock
SocketUser=www-data
SocketGroup=www-data
SocketMode=0660

[Install]
WantedBy=sockets.target
