<!-- templates/balance/historial_balances.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Historial de Balances</title>
</head>
<body>
    <h2>Historial de Balances Diarios</h2>
    {% if all_gimnasios %}
      {% for gimnasio in all_gimnasios %}
        <h3>{{ gimnasio.direccion }}</h3>
        {% if gimnasio in gimnasios_con_historial %}
             {% for key, balances in grouped_balances.items %}
                  {% with gimnasio_direccion=key.0 year=key.1 month=key.2 %}
                      {% if gimnasio_direccion == gimnasio.direccion %}
                         <ul>
                            {% for balance in balances %}
                                <li>
                                    {{ month }}/{{ year }}
                                    <a href="{% url 'detalle_balance' balance_id=balance.id %}">
                                      <button>Ver Detalle</button>
                                    </a>
                                </li>
                           {% endfor %}
                      </ul>
                   {% endif %}
                  {% endwith %}
              {% endfor %}
        {% else %}
        <p>No hay historial para este gimnasio.</p>
      {% endif %}
     {% endfor %}   
    {% else %}
        <p>No hay balances guardados todavía.</p>
    {% endif %}
    <a href="{% url 'balance_diario' %}">Volver</a>
</body>
</html>