{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Tipos de Mensualidad</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
      .center-container {
         display: flex;
         justify-content: center;
         align-items: flex-start;
         min-height: 60vh;
          padding-top: 10vh;
      }
      .button-container {
        display: flex;
        justify-content: center; /* Centra los botones horizontalmente */
        margin-top: 1rem; /* Añade un espacio arriba de los botones */
    }
    </style>
</head>
<body>
    <div class="center-container">
        <div class="card" style="width: 80%; max-width: 1000px;">
            <div class="card-body">
                <h2 class="card-title">Lista de Tipos de Mensualidad</h2>
                <div class="button-container">
                    <a href="{% url 'crear_tipo_mensualidad' %}" class="btn btn-success">Crear Nuevo Tipo</a>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Precio</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tipo in tipos %}
                            <tr>
                                <td>{{ tipo.tipo }}</td>
                                <td>{{ tipo.precio }}</td>
                                <td>
                                    <a href="{% url 'editar_tipo_mensualidad' tipo.pk %}" class="btn btn-primary btn-sm">Editar</a>
                                    <a href="{% url 'eliminar_tipo_mensualidad' tipo.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %}