{% extends 'base.html' %}
{% block content %}
<div class="container page-container py-4">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Lista de Cuotas</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Socio</th>
                        <th>Tipo Mensualidad</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Vencimiento</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in cuotas_por_socio %}
                        <tr>
                            <td>{{ item.socio.nombre }} {{ item.socio.apellido }}</td>
                            <td>
                                {% if item.socio.tipo_mensualidad %}
                                    {{ item.socio.tipo_mensualidad.tipo }}
                                {% else %}
                                    No asignada
                                {% endif %}
                            </td>
                            {% if item.cuota %}

                                <td>{{ item.cuota.fecha_inicio }}</td>
                                <td>{{ item.fecha_vencimiento }}</td>
                                <td>
                                  <div class="spaced-buttons">
                                    <a href="{% url 'renovar_mensualidad' %}?socio={{ item.socio.id }}&cuota={{ item.cuota.id }}" class="btn btn-primary btn-sm">Renovar</a>
                                  </div>
                                </td>
                            {% else %}

                                <td>No asignada</td>
                                <td>No asignada</td>
                                <td>
                                  <div class="spaced-buttons">
                                    <a href="{% url 'asignar_mensualidad' %}?socio={{ item.socio.id }}" class="btn btn-success btn-sm">Asignar</a>
                                   </div>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}