<!-- templates/balance/mostrar_balance.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Balance Diario</title>
</head>
<body>
    <h2>Balance Diario para el Gimnasio: {{ gimnasio_nombre }}</h2>
     <h3>Fecha: {{ fecha }}</h3>
    
    <h3>Ingresos de Hoy</h3>
    {% if ingresos %}
        <ul>
        {% for ingreso in ingresos %}
        <li>{{ ingreso.descripcion }} - Monto: {{ ingreso.monto|default:"0" }} - Tipo: {{ ingreso.tipo_ingreso }}</li>
        {% endfor %}
        </ul>
        <p>Total Ingresos: {{ total_ingresos|default:"0"}}</p>

    {% else %}
        <p>No hay ingresos registrados para hoy.</p>
    {% endif %}

    <h3>Egresos de Hoy</h3>
    {% if egresos %}
         <ul>
        {% for egreso in egresos %}
            <li>{{ egreso.descripcion }} - Monto: {{ egreso.monto|default:"0" }} - Tipo: {{ egreso.tipo_ingreso }}</li>
        {% endfor %}
         </ul>
        <p>Total Egresos: {{ total_egresos|default:"0"}}</p>
    {% else %}
        <p>No hay egresos registrados para hoy.</p>
    {% endif %}
    <h3>Balance: {{ balance }}</h3>
    <a href="{% url 'balance_diario' %}">Volver a seleccionar Gimnasio</a>
</body>
</html>