{% extends 'base.html' %}

{% block content %}
<div class="container page-container py-4">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Cambiar Contraseña</h2>
                {% if error %}
                    <p style="color: red;">{{ error }}</p>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="new_password" class="form-label">Nueva Contraseña</label>
                        <input type="password" name="new_password" id="new_password" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirm_password" class="form-label">Confirmar Nueva Contraseña</label>
                        <input type="password" name="confirm_password" id="confirm_password" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100 w-sm-auto">Cambiar Contraseña</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}