{% extends 'base.html' %}

{% block content %}
<div class="container page-container py-4">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Contraseña Cambiada</h2>
                <p>Tu contraseña ha sido cambiada exitosamente. Ya puedes iniciar sesión con tu nueva contraseña.</p>
                <div class="button-container">
                    <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}