{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
      .center-container {
         display: flex;
         justify-content: center;
         align-items: flex-start;
         min-height: 60vh;
          padding-top: 10vh;
      }
      .button-container {
        display: flex;
        justify-content: center; /* Centra los botones horizontalmente */
        margin-top: 1rem; /* Añade un espacio arriba de los botones */
    }
    </style>
</head>
<body>
    <div class="center-container">
        <div class="card" style="width: 60%; max-width: 800px;">
            <div class="card-body">
                <h2 class="card-title">Recuperar Contraseña</h2>
                <form method="post">
                    {% csrf_token %}
                    {% if error %}
                        <p style="color: red;">{{ error }}</p>
                    {% endif %}
                     <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th><label for="usuario">Nombre de Usuario:</label></th>
                                <td><input type="text" name="usuario" required></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="button-container">
                       <button type="submit" class="btn btn-primary">Siguiente</button>
                     </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}