{% extends 'base.html' %}
{% block content %}
<div class="container page-container py-4">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Renovar Mensualidad de {{ socio.nombre }} {{ socio.apellido }}</h2>
                <p style="font-size: 1.1rem;">¿Qué tipo de renovación deseas realizar?</p>
                   <div class="table-container">
                    <table class="table">
                     <tbody>
                        <tr>
                           <td>
                               <div class="spaced-buttons">
                                   <button class="btn btn-primary btn-sm" onclick="confirmarRenovacion()">Renovar Automático</button>
                                   <a href="{% url 'lista_cuotas' %}" class="btn btn-secondary btn-sm">Cancelar</a>
                                </div>
                           </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
           </div>
        </div>
    </div>
<script>
    function confirmarRenovacion() {
    const confirmar = confirm("¿Estás seguro de que deseas realizar la renovación automática?");
    if (confirmar) {
      window.location.href = "{% url 'asignar_mensualidad' %}?socio={{ socio.id }}";
        }
    }
    </script>
    
{% endblock %}