{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container page-container py-4">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Lista de Tipos de Usuario</h2>
                <div class="mb-3">
                    <a href="{% url 'tipo_usuario_create' %}" class="btn btn-success">Crear Nuevo Tipo de Usuario</a>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Tipo de Usuario</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tipo_usuario in tipos_usuario %}
                            <tr>
                                <td>{{ tipo_usuario.tipousuario }}</td>
                                <td>
                                    <a href="{% url 'tipo_usuario_update' tipo_usuario.pk %}" class="btn btn-primary btn-sm">Editar</a>
                                    <a href="{% url 'tipo_usuario_delete' tipo_usuario.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}