{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container page-container py-4">
        <h1>{% if form.instance.pk %}Editar Tipo de Usuario{% else %}Crear Tipo de Usuario{% endif %}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="{% url 'tipo_usuario_list' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}